:root {
    --color-primary: #98AA28;
    --color-Secondary: #A2BDAA;
    --color-Body-text: #78847D;
    --color-Dark-Green: #253D32;
    --color-White: #FFFFFF;

}

/* changing font family  */

@font-face {
    font-family: Rubik;
    src: url(../fonts/static/Rubik-Bold.ttf) format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: Rubik;
    src: url(../fonts/static/Rubik-Medium.ttf) format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: Rubik;
    src: url(../fonts/static/Rubik-SemiBold.ttf) format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: Rubik;
    src: url(../fonts/static/Rubik-Light.ttf) format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: Rubik;
    src: url(../fonts/static/Rubik-Regular.ttf) format('truetype');
    font-weight: 400;
}

body {
    font-family: 'Rubik', sans-serif !important;
}


/* changing colors  */
.background {
    background-image: url('../images/hero-bg.png');
    height: 852px;
    background-repeat: no-repeat;
    background-size: 100vw 100%;
}

.subscribe {
    background-image: url('../images/subscribe-bg.png');
    height: 523px;
}

.prim {
    background-color: var(--color-primary);
}

.sec {
    background-color: var(--color-Secondary);
}

.b-text {
    color: var(--color-Body-text);
}

.dgreen {
    background-color: var(--color-Dark-Green);
}

.t-dgreen {
    color: var(--color-Dark-Green);
}

.b-white {
    background-color: var(--color-White);
}

.t-white {
    color: var(--color-White);
}

#trial {
    background-color: rgba(255, 255, 255, 10%);
    border-color: var(--color-primary) !important;
}

#client {
    background-color: #f6fbf9;
}